section.hero 
    .container
        .hero__content
            p.hero__subtitle 
                | OPEN EVERYDAY 6AM - 9PM
            h2.hero__title 
                | A bad day with lunch is better than a good day without it.
            .hero__footer
                button.hero__button(type="button") Reserve a table
                ul.hero__social-list
                    li.hero__social-item 
                        a.hero__social-link(href="#") Fb
                    li.hero__social-item 
                        a.hero__social-link(href="#") Ig
                    li.hero__social-item 
                        a.hero__social-link(href="#") Tw
                    li.hero__social-item 
                        a.hero__social-link(href="#") Yt    
    .hero__bg
