section.menu 
    .container.menu__container 
        ul.menu__list 
            li.menu__item
                .menu__date Woensdag 12/01
                .menu__dishs.dishs
                    span.dishs__item Salade met Serrano
                    div.dishs__dots 
                        span.dishs__dot
                        span.dishs__dot
                        span.dishs__dot
                    span.dishs__item Steak Tartaar
            li.menu__item
                .menu__date Donderdag 13/01
                .menu__dishs.dishs
                    span.dishs__item Toast Roquefort
                    div.dishs__dots 
                        span.dishs__dot
                        span.dishs__dot
                        span.dishs__dot
                    span.dishs__item Penne met Kip en Prei
            li.menu__item
                .menu__date Vrijdag 14/01
                .menu__dishs.dishs
                    span.dishs__item Verrassing van de Chef
                    div.dishs__dots 
                        span.dishs__dot
                        span.dishs__dot
                        span.dishs__dot
                    span.dishs__item Penne met Kip en Prei
            li.menu__item
                .menu__date Vrijdag 15/01
                .menu__dishs.dishs
                    span.dishs__item Verrassing van de Chef
                    div.dishs__dots 
                        span.dishs__dot
                        span.dishs__dot
                        span.dishs__dot
                    span.dishs__item Penne met Kip en Prei
            li.menu__item
                .menu__date Vrijdag 16/01
                .menu__dishs.dishs
                    span.dishs__item Verrassing van de Chef
                    div.dishs__dots 
                        span.dishs__dot
                        span.dishs__dot
                        span.dishs__dot
                    span.dishs__item Penne met Kip en Prei
        .menu__gallery 
            img.menu__photo(src="./images/restaurant_1.png" alt="restaurant photo")
            img.menu__photo(src="./images/restaurant_2.png" alt="restaurant photo")