section.quotes 
    .container 
        .swiper
            .swiper-wrapper
                .swiper-slide
                    .quote 
                        .quote__title 
                            | Goede service, lekker eten, toffe ambiance
                        .quote__text 
                            | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo  dolores et ea rebum. Stet clita kasd gubergren.
                        .quote__author
                            | ALAIN HEYNDRICKX
                .swiper-slide
                    .quote 
                        .quote__title 
                            | Goede service, lekker eten, toffe ambiance
                        .quote__text 
                            | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo  dolores et ea rebum. Stet clita kasd gubergren.
                        .quote__author
                            | ALAIN HEYNDRICKX
                .swiper-slide
                    .quote 
                        .quote__title 
                            | Goede service, lekker eten, toffe ambiance
                        .quote__text 
                            | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo  dolores et ea rebum. Stet clita kasd gubergren.
                        .quote__author
                            | ALAIN HEYNDRICKX
            .swiper-pagination

            .swiper-button-prev
            .swiper-button-next